.home-swiper-content {
  height: 300px;
  background-color: var(--adm-color-primary);
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  user-select: none;
}
